.appbar {
  width: 100%;

  display: grid;
  place-items: center;

  &__body {
    padding: 48px;
    width: auto;

    display: flex;
    flex-direction: column;
  }

  &__brand {
    font-size: 28px;
    letter-spacing: -0.6px;
  }

  &__navigation {
    width: 100%;
    margin-top: 16px;
  }

  &__link {
    &--active {
      color: #f3663f;

      &:hover {
        color: #18214d;
      }
    }

    &--inactive {
      color: #18214d;

      &:hover {
        color: #f3663f;
      }
    }
  }

  &__text {
    font-size: 20px;
    padding: 0 17px;
    color: inherit;
  }
}

@media screen and (min-width: 768px) {
  .appbar {
    &__body {
      width: 80%;

      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    &__navigation {
      width: auto;
      margin-top: 0;
    }

    &__text {
      padding: 0 27px;
    }
  }
}
